.al-main-font {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-style: italic;
}

a:hover {
    color: #868686;
    transition: 1000ms;
}

.al-font-light {
    color: aliceblue;
}

.al-section-first {
    background-color: #404258;
    color: aliceblue;
}

.al-section-second {
    background-color: #474E68;
    color: aliceblue;
}

.al-section-third {
    background-color: #50577A;
    color: aliceblue;
}

.al-section-fourth {
    background-color: #6B728E;
    color: aliceblue;
}